.about{
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
}

.about__title{
    color: $color1;
    font-size: 30px;
    font-family: boldPoppins;
    text-align: center;
    padding: 30px 0 60px 0;
}

.about__content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: boldPoppins;
}

.about__image{
    background:linear-gradient(45deg, $color3,transparent);
    height: 370px;
    border-radius: 10px;
}

.about__image img{
   height: 100%;
   border-radius: 10px;
   transform: rotate(7deg);
   transition: 0.5s ease;
}

.about__image img:hover{
    transform: rotate(0);
}

.about__me-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.about__me-card{
    text-align: center;
    padding: 20px;
    border-radius:10px;
    background: $color4;
    width: 100%;
    max-width: 200px;
}

.about__me-card:hover{
    background: transparent;
    border: 1px solid $color1;
    color: $color1;
}

.about__me-card--icon{
    font-size: 20px;
}

.about__me-card--title{
    padding: 10px;
}

.about__me-text{
    padding: 50px;
}

.about__me-link{
    color: $color1;
    font-family: boldPoppins;
    font-style: italic;
}

.about__me-text-tablet{
    font-family: boldPoppins;
    padding: 50px;
    display: none;
}

@media screen and(min-width:1000px) and (max-width: 1400px) {
    .about{
        width: 95%;
    }
    
    .about__me-cards{
        gap: 20px;
    }

    .about__me-card{
        max-width: 170px;
    }
}

@media screen and(min-width:600px) and (max-width: 1000px){
    .about{
        width: 95%;
    }

    .about__image{
        margin-right: 30px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .about__me-cards{
        gap: 20px;
        flex-wrap: wrap;
    }

    .about__me-text{
        display: none;
    }

    .about__me-text-tablet{
        display: block;
    }
}

@media screen and(max-width: 599px) {
    .about{
        width: 95%;
    }    

    .about__title{
        padding-bottom: 30px;
    }

    .about__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__image{
        margin: 50px;
        height: 300px;
    }

    .about__me-cards{
        gap: 20px;
        flex-wrap: wrap;
    }

    .about__me-text{
        padding: 30px;
    }
}