$color1: #4db5ff;
$color2: #1f1f38;
$color3: #ffffff;
$color4: #2a4780;
$navColor: #292b6e;

@font-face {
    font-family: regularPoppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: boldPoppins;
    src: url(../fonts/Poppins-Bold.ttf);
}